// .row {
//   padding: 10px;
// }

// .card {
//   margin: 10px;
// }

// .material-icons {
//   font-size: 30px;
// }

// button span {
//   font-size: 22px;
// }

// .action-buttons button {
//   margin: 5px;
// }

.container {
  width: 90%;
  margin: 20px auto;
}


.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
